.App {
   text-align: center;
   /*  
    display: flex;
   flex-direction: column;
   height: 100vh;
   */
 }

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
/*
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
*/
.App-header, .App-footer {
   color: white;
   padding: 3px;
   margin: auto;
   display: flexbox;
}
 
 .App-header {
   background-color: #242424;
   position: fixed;
   top: 0;
   width: 100%;
   z-index: 1000;
 }
 
.App-footer {
   position: fixed;
   bottom: 0;
   width: 100%;
 }
 

.App-link {
  color: #61dafb;
}
.App-body {
   display: flex;
   flex-direction: row;
   margin-top: 60px; /* Header height */
   margin-bottom: 40px; /* Footer height */
   flex: 1;
   overflow: auto;
 }

 .App-content {
   flex: 1;
   padding: 10px;
 }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
